.background {
  background-color: #F6F7F8
}

.imageContainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5e50a1;
  opacity: 0.7; 
  z-index: 1; 
}

.heroTitle {
  font-size: 44px;
  font-weight: 700;
  top: 241px;
  left: 64px;
  max-width: 456px;
}

.logo {
  top: 44px;
  left: 44px;
}


.container {
  max-width: 100%;
  box-sizing: border-box;
}


.imageContainer {
  width: 100%;
  height: 100vh;
}

.loginContainer {
  margin-top: 50px;
  max-width: 576px;
}

.halo {
  font-size: 32px;
  font-weight: 600;
}

.desc {
  font-size: 18px;
}

.inputContainer {
  margin-top: 15px;
}

.actionContainer {
  margin-top: 24px;
}

.forgotPassword {
  margin-bottom: 24px;
}

.register {
  margin-top: 10px;
}

.alert {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

.success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d0e9c6;
}

.error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}


@media screen and (max-width: 768px) {


  .imageContainer {
    width: 100%; 
  }

  .loginContainer {
    margin-top: 40px;
  }

  .heroTitle {
    font-size: 36px; 
  }
}


@media screen and (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column; 
  }

  .container {
    padding: 15px;
  }

  .imageContainer,
  .heroTitle {
    display: none; 
  }

  .loginContainer {
    margin-top: 20px;
    max-width: 100%;
  }

  .heroTitle {
    font-size: 24px; 
  }
}
