.bodyContainer {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  background-color: #f6f7f8;
}

.imageContainer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.roundedImage {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;

}
.name {
  font-size: 22px;
  color: #1f2a36;
  font-weight: 600;
}

.job {
  margin-top: 6px;
}

.job,
.location {
  font-size: 14px;
  font-weight: 400;
}

.location {
  margin-top: 13px;
  color: #9EA0A5;
}

.workCategory {
  color: #9EA0A5;
  font-size: 14px;
  font-weight: 400;
  margin-top: 13px;
}

.aboutProfile {
  color: #9EA0A5;
  font-size: 14px;
  font-weight: 400;
  margin-top: 18px;
}

.hire {
  margin-top: 38px;
}

.gmail, .instagram, .github, .gitlab {
  font-size: 14px;
  font-weight: 400;
  color: #9EA0A5;
  margin-bottom: 16px;
}


/* Hire Page */
.hireTitle {
  font-size: 32px;
  font-weight: 600;
  color: #1F2A36;
}

.hireDescription {
  font-size: 18px;
  font-weight: 400;
}

.formHire {
  margin-top: 52px;
  margin-bottom: 52px;
}

@media (max-width: 767px) {
  .bodyContainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

  /* .imageContainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .roundedImage {
    height: 100px;
    width: 100px;
  } */

  .name {
    font-size: 18px;
  }

  .job,
  .location,
  .workCategory,
  .aboutProfile {
    font-size: 10px;
  }

  .hire {
    margin-top: 20px;
  }

  .gmail,
  .instagram,
  .github,
  .gitlab {
    font-size: 10px;
    margin-bottom: 8px;
  }

  /* Hire Page */
  .hireTitle {
    font-size: 24px;
  }

  .hireDescription {
    font-size: 14px;
  }

  .formHire {
    margin-top: 30px;
  }
}
