.image {
  width: "219px";
  height: "148px";
  object-fit: "cover";
}

.portofolio {
  font-size: 14px;
  color: #1f2a36;
  margin-top: 8px;
}

.hire {
  height: 50px;
}

.role {
  font-size: 20px;
  font-weight: 600;
}

.company {
  font-size: 18px;
  font-weight: 400;
  color: #46505c;
}

.date {
  font-size: 16px;
  font-weight: 400;
  color: #9ea0a5;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: #9ea0a5;
}

.deleteIcon {
  cursor: pointer;
  background-color: #5e50a1;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  padding: 5px;
  transition: background-color 0.3s ease;
}
