.topJobs {
  padding-left: 150px;
  padding-right: 150px;
  background-color: #5e50a1;
  height: 100px;
  display: flex;
  align-items: center;
}

.topJobsText {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.bodyContainer {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f7f8;
}

.buttonProfile {
  margin-left: 450px;
}

.icSearch {
  margin-right: 25px;
}

.sort {
  border-left: 1px solid #9ea0a5;
  padding: 19px 25px;
}

.profile {
  background-color: #fff;
  margin-top: 50px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.profileRows {
  padding: 10px;
  border-bottom: 2px solid #9ea0a5;
  padding-bottom: 20px;
  padding-top: 20px;
}


.imageContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.roundedImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.name {
  font-size: 22px;
  color: #1f2a36;
  font-weight: 600;
}

.job,
.location {
  font-size: 14px;
  color: #9ea0a5;
  font-weight: 400;
}

.skillsContainer {
  margin-top: 17px;
}

.skillsBox {
  background-color: rgba(251, 176, 23, 0.60);
  display: inline-block;
  padding: 4px 24px;
  border: 1px solid #fbb017;
  border-radius: 4px;
}

.skills {
  color: #fff;
}

.buttonProfile {
  background-color: #1f2a36;
  border-radius: 100px;
}

.pagination {
  height: 58px;
}

.buttonPagination {
  width: 57px;
  height: 58px;
  background-color: #fff;
}



@media  (max-width: 1440px) {
  .buttonProfile {
    margin-left: 300px;
  }
}

@media  (max-width: 1050px) {
  .buttonProfile {
    margin-left: 0;
  }
}

/* Small Screens */
@media (max-width: 768px) {
  .topJobs {
    padding-left: 50px;
    padding-right: 50px;
  }

  .bodyContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
  .buttonProfile {
    margin-left: 0;
  }
  .icSearch {
    margin-right: 10px;
  }

  .sort {
    padding: 15px 20px;
  }

  .profile {
    margin-top: 30px;
  }

  .skillsBox {
    padding: 4px 12px; 
  }
}

/* Extra Small Screens */
@media (max-width: 425px) {
  .topJobs {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bodyContainer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .icSearch {
    margin-right: 5px;
  }

  .sort {
    padding: 10px 15px;
  }

  .profile {
    margin-top: 20px;
  }

  .skillsBox {
    padding: 4px 6px; 
  }
}
